/* Estilos para el carrito */
.divCarrito{
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, var(--color-fondo-principal), var(--color-fondo));
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: var(--espaciado);
    overflow-y: auto; /* Permitir scroll */
}

.tituloCarrito{
    align-self: center;
    font-family: var(--fuente-navidad);
    font-size: 2rem;
}

.botonCerrarCarrito {
    min-width: 3rem;
    min-height: 3rem;
    width: 3rem;
    height: 3rem;
    background-color: red;
    border: 0;
    border-radius: 50%;
    color: white;
    align-self: flex-end;
    margin-bottom: var(--espaciado-pequeno);
    font-size: var(--texto-grande);
    transition: transform 0.6s ease;
}

.botonCerrarCarrito:hover {
    color: var(--color-secundario);
    transform: scale(1.5);
}

/* Estilos para el contenedor de los productos en el carrito */
.divElementosCarrito{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--espaciado-pequeno);
}

/* Estilos para los elementos del carrito */
.elementoCarrito{
    min-width: 20rem;
    width: 100%;
    height: 10rem;
    min-height: 10rem;
    display: flex;
    flex-direction: row;
    border-radius: var(--borde-radio);
    background-color: var(--color-fondo-principal);
}

.imgCarrito{
    height: 100%;
    border-radius: var(--borde-radio);
}

.divTextoCarrito{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: var(--espaciado-pequeno);
}

/* Ponerle el simbolo € al precio */
.divTextoCarrito > *:nth-child(2)::after {
    content: "€";
    margin-left: 0.2rem;
}

.vacio{
    align-self: center;
    margin-top: 15%;
}

.divControlarArticulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

/* Botones que controlan la cantidad y permiten borrar los elementos del carrito */
.botonesArticulos{
    width: 1.5rem;
    height: 1.5rem;
    font-size: var(--texto-grande);
    border: 0;
    box-shadow: var(--sombra-mediana);
    background-color: var(--color-secundario);
    color: var(--color-fondo-principal);
    transition: transform 0.6s ease;
}

.botonesArticulos:hover{
    transform: scale(1.2);
}

.btnBorrarArticulo{
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: 0;
    font-size: var(--texto-muy-grande);
    transition: transform 0.6s ease;
}

.btnBorrarArticulo:hover{
    transform: scale(1.2);
}

/* Boton que borra al carrito */
.botonBorrarCarrito{
    min-height: 3rem;
    height: 3rem;
    min-width: 10rem;
    width: 10rem;
    font-size: var(--texto-grande);
    border-radius: var(--borde-radio);
    border: 0;
    background-color: var(--color-secundario);
    color: var(--color-fondo-principal);
    margin: var(--espaciado);
    align-self: center;
    transition: transform 0.6s ease;
}

.botonBorrarCarrito:hover{
    transform: scale(1.2);
}

/* Media querie para vistas pequeñas */
@media (max-width: 768px) {

    .elementoCarrito{
        height: 12rem;
        min-height: 12rem;
    }
    
    .imgCarrito{
        height: 100%;
        width: 50%;
    }
    
    .divTextoCarrito{
        font-size: var(--texto-pequeno);
    }
}