/* Sección Categorías */
#categorias {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--espaciado);
    align-items: center;
    justify-content: center;
}

#categorias div {
    background-color: var(--color-secundario);
    color: var(--color-fondo);
    border-radius: var(--borde-radio);
    padding: var(--espaciado);
    text-align: center;
    box-shadow: 0.3rem 0.2rem 0.2rem rgba(0,0,0,0.3); /* Para cada div de categoria una sombra */
    transition: transform 0.3s ease;
}

/* Transformar el tamaño */
#categorias div:hover {
    transform: translateY(-5px); 
}

#categorias h3 {
    margin-bottom: var(--espaciado);
    font-size: var(--texto-grande);
}

#categorias img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Que la imagen se ajueste a su contenedor */
    border-radius: var(--borde-radio);
}

/* Media querie para vistas moviles */
@media (max-width: 768px) {
    #categorias div {
        width: 90%;
        max-width: 20rem;
        margin: 1rem auto;
    }
    
    #categorias h3 {
        margin: 0.5rem 0;
        font-size: var(--texto-grande);
        text-align: center;
    }
    
    #categorias img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: var(--borde-radio);
    }


}