/* Estilos para el gif de espera al cargar */
#tiempoCarga{
    height: 5em;
    position: fixed; 
    top: 50%;
    left: 50%; 
    z-index: 1000;
    display: none;
}

#productoCategoria {
    width: 95vw;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr)); /* Grid responsivo para mostrar los productos */
    gap: var(--espaciado);
    padding: var(--espaciado);
    margin-top: var(--espaciado);
    justify-self: center;
}

/* Estilos para el mensaje que indica que no hay más productos */
.numProductos{
    z-index: 1000;
    font-size: var(--texto-grande);
    color: var(--color-texto);
    justify-self: center;
    top: 50%;
    left: 50%;
    grid-row: 3;
}

/* Estilos para el formulario de cambio de categorias */
.containerProductos form {
    width: 100%;
    height: 15vh;
    grid-row: 1;
    grid-column: 2 / -2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--espaciado);
    padding: var(--espaciado);
    background-color: var(--color-fondo);
    border-radius: var(--borde-radio);
}

#formCategorias{
    width: 15rem;
    height: 3.5rem;
    font-size: var(--texto-grande);
    border-radius: var(--borde-radio);
    border: 0;
    padding: var(--espaciado-pequeno);
}

#btnBuscar{
    width: 10rem;
    height: 3rem;
    border-radius: var(--borde-radio);
    border: 0;
    background-color: var(--color-primario);
    color: var(--color-fondo);
    font-size: var(--texto-grande);
    transition: transform 0.5s ease;
}

#btnBuscar:hover{
    transform: scale(1.15);
}

/* Estilos para el boton que carga más productos */
#cargarMas{
    grid-row: 4;
    width: 15rem;
    height: 5rem;
    font-size: var(--texto-grande);
    background-color: var(--color-secundario);
    color: var(--color-fondo);
    border-radius: var(--borde-radio);
    transition: transform 0.5s ease;
    justify-self: center;
}

#cargarMas:hover{
    transform: scale(1.05);
}

/* Estilos para el contenedor del producto */
.contenedorProducto{
    width: 100%;
    max-width: 20rem; 
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    border-radius: var(--borde-radio);
    transition: transform 0.3s ease;
    box-shadow: var(--sombra-mediana);
}

.contenedorProducto:hover{
    transform: scale(1.05);
    box-shadow: var(--sombra-grande);
}

.contenedorIMGProducto img{
    width: 100%;
    object-fit: cover;
    height: auto;
    border-radius: var(--borde-radio);
}

.contenedorTexto{
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-pequeño);
    padding: 1.5rem;
    flex: 1;
}

.contenedorTexto > *:nth-child(2) {
    flex-grow: 1;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

/* Estilo para añadir el simbolo de € */
.contenedorTexto > *:nth-child(3)::after {
    content: "€";
    margin-left: 0.2rem;
}

/* Estilos para los detalles de cada producto */
.divDetalle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    font-size: var(--texto-grande);
    background-color: rgba(255, 255, 255, 0.95);
    color: var(--color-texto);
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-shadow: none;
    overflow-y: auto;
}

/* Boton que cierra los detalles */
.botonCerrar {
    min-width: 3rem;
    min-height: 3rem;
    width: 3rem;
    height: 3rem;
    background-color: red;
    border: 0;
    border-radius: 50%;
    color: white;
    align-self: flex-end;
    transition: transform 0.6s ease;
}

.botonCerrar:hover {
    color: var(--color-secundario);
    transform: scale(1.5);
}

.contenidoDetalle {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.imagenDetalle {
    width: 35rem;
    height: auto;
    border-radius: var(--borde-radio);
    box-shadow: var(--sombra-mediana);
}

.textoDetalle {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    height: 90%;
    padding: 1rem;
    border-radius: var(--borde-radio);
    color: var(--color-texto);
    border: 0.1rem solid var(--color-texto);
    margin-bottom: 1rem;
}

.textoDetalle li {
    padding: 1rem;
    font-size: 1.1em;
    color: var(--color-texto);
    transition: all 0.6s ease;
}

/* Boton para añadir producto al carrito */
.btnCesta {
    width: 90%;
    height: 3rem;
    font-size: var(--texto-grande);
    border-radius: var(--borde-radio);
    border: 0;
    background-color: var(--color-secundario);
    color: var(--color-fondo);
    align-self: center;
    margin-top: auto;  
    transition: transform 0.6s ease;
}

.btnCesta:hover{
    transform: scale(1.1);
}

.textoDetalle li:hover {
    transform: scale(1.04);
}

/* MEdia querie para vistas medianas */
@media (max-width: 1200px) {
    .contenidoDetalle {
        flex-direction: column;
        font-size: 1rem;
    }

    .botonCerrar {
        width: 2rem;
        height: 2rem;
        font-size: var(--texto-pequeno);
    }

    .imagenDetalle {
        width: 30%;
        margin-top: 7rem;
    }
}

/* Media querie para vistas pequeñas */
@media (max-width: 768px) {

    .containerProductos form {
        flex-direction: column;
    }

    #formCategorias{
        font-size: var(--texto-pequeño);
        border-radius: var(--borde-radio);
        border: 0;
        padding: 0.5rem;
    }

    .divDetalle {
        font-size: var(--texto-pequeno);
        overflow-y: auto;
    }

    .contenidoDetalle {
        flex-direction: column;
        margin-top: 8rem;
    }

    .imagenDetalle {
        width: 70%;
    }

    .textoDetalle {
        height: auto;
    }

    .botonCerrar {
        margin-top: 5rem;
    }

    #productoCategoria{
        justify-content: center;
        justify-items: center;
    }

    

}
